


// //   /*--------------------------------------------------------------
// //   # Start Hero Section
// //   --------------------------------------------------------------*/
.hero{
          height: -moz-calc(100vh - 70px);
          height: -webkit-calc(100vh - 70px);
          height: calc(100vh - 70px);
    .hero-bg{
        position: relative;
        text-align: center;
        width: 100%;
          height: -moz-calc(100vh - 70px);
          height: -webkit-calc(100vh - 70px);
          height: calc(100vh - 70px);
          margin-top: 70px;
        overflow: hidden;
        clip-path: circle(105% at 0 50%);

        &:after{
          content: "";
          width: 100%;
          height: 100vh;
          position: absolute;
          left: 0;
          top: 0;
          background: var(--primary-color);
          opacity: 0.8;
          clip-path: circle(105% at 0 50%);

        }
        .video-bg{
          img{
            width: 100%;
            height: -moz-calc(100vh - 70px);
            height: -webkit-calc(100vh - 70px);
            height: calc(100vh - 70px);
            position: absolute;
            left: 0;
            right: 0;
        }
        }
        .custom-container {
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-inline-start: 100px;
          .box-content{
           h2{
            color: var(--white-color);
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: 700;
           }
           p{
            color: var(--white-color);
            margin-bottom: 30px;
            margin-top: 10px;
            font-size: 25px;
            font-weight: 400;
            text-align: start;
           }
    
          }
      }
      }
}

#mySwiperLastHero{
    width: 100%;
    // height: 600px;
    position: relative;
    // z-index: 999;
    // background-color: red;
    margin: auto;
    overflow: hidden;
    margin-inline-start: -150px;
    margin-top: 120px;
    .swiper-wrapper{
    .box-swiper {
        display: flex;
        margin-top: 250px;
        position: relative;
        .card-box{
            position: absolute;
            text-align: center;
            top: -150px;
            overflow: hidden;
            border-radius: 30px;
            &:nth-child(1){
                height: 200px;
                width: 280px;
                &:after{
                        content: "";
                        height: 200px;
                        width: 280px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        background: var(--third-color);
                        opacity: 0.8;
                      }
                      .img-card{
                        img{
                            height: 200px;
                            width: 280px;
                            position: absolute;
                            object-fit: fill;
                            left: 0;
                            right: 0;
                        }
                    }
            }
            &:nth-child(2){
                position: relative;
                z-index: -9;
                top: 0px;
                left: unset;
                right: -250px;
                height: 200px;
                width: 200px;
                &:after{
                        content: "";
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        background: var(--green-color);
                        opacity: 0.8;
                      }
                      .img-card{
                        img{
                            width: 200px;
                            height: 200px;
                            position: absolute;
                            object-fit: fill;
                            left: 0;
                            right: 0;
                        }
                    }
            }

            &:nth-child(3){
                top: -230px;
                left: unset;
                right: 20px;
                height: 200px;
                width: 200px;
                &:after{
                    content: "";
                    width: 200px;
                        height: 200px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        opacity: 0.8;
                    background: var(--secondary-color);
                  }
                  .img-card{
                    img{
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        object-fit: fill;
                        left: 0;
                        right: 0;
                    }
                }
            }

          
            .content{
                text-align: center;
                position: absolute;
                z-index: 2;
                padding: 0px 5px;
                color: #fff;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                    h3{
                        font-size: var(--navbar-fontSize);
                        color: var(--white-color);
                        margin: 10px 0px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    p{
                        font-size: var(--moreLink-fontSize);
                        color: var(--white-color);
                        font-weight: 400;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
        }
  
      }
    }
    }


// //   /*--------------------------------------------------------------
// //   # End Hero Section
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # Start  Services
// //   --------------------------------------------------------------*/
.services{
    margin-top: 70px;
    background-image: url(../img/Rectangle109.png);
    width: 100%;
    // width: 100%;

    .sec-bg{
        padding-bottom: 50px;
        background-image: url(../img/Vector14.png);
        background-position: bottom;
        background-size: cover;
        .wrapper-navs{
            .navs-services{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .nav-tabs{
                    .nav-item{
                        a{
                            &.nav-link{
                                font-size: 15px;
                                // color: var(--navbar-color);
                                color: #A9A9A9;
                                font-weight: 500;
                                padding: 0;
                                margin: 0 10px;
                                position: relative;
                                display: flex;
                                align-items: end;
                                &.active{
                                background-color: transparent;
                                color: var(--primary-color);
                                font-size: 15px;
                                position: relative;
                                border: 0;
                                .active-icon{
                                    filter: none;
                                   }
                                svg{
                                  font-size: 20px;
                                  margin-inline-end: 3px;
                                  path{
                                    fill:var(--primary-color);
                                  }
                                  &.last-news{
                                    path{
                                      fill: transparent;
                                      stroke: #fff;
                                
                                    }
                                  }
                                }
                                &::after{
                                  position: absolute;
                                  content: '';
                                  background-color: var(--primary-color);
                                  width: auto;
                                  height: 2px;
                                  left: 0;
                                  right: 0;
                                  bottom: -8px;
                                }
                  
                                }
                                svg{
                                  font-size: 20px;
                                  margin-inline-end: 3px;
                                  path{
                                    fill: #A9A9A9;
                                  }
                                  &.last-news{
                                    path{
                                      fill: transparent;
                                  
                                    }
                                  }
                                  
                                }
                                .active-icon{
                                   filter: grayscale(1);
                                   margin-inline-end: 7px;
                                  }
                            &:focus,&:hover{
                              border: 0;
                            }
                              }
                        }
                    }
                  }
            }
        }
        .wrapper-navs-content{
            margin-top: 30px;
            .card-box{
                position: relative;
                text-align: center;
                // width: 100%;
                width: 90%;
                // width: 280px;
                height: 300px;
                overflow: hidden;
                margin: auto;
                border-radius: 30px;
                box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center;
                justify-content: center;
                &:after{
                    content: "";
                    width: 100%;
                    height: 300px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(255, 255, 255, 0.65);
                  }
                // .img-card{
                    img{
                        &.img-card{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            object-fit: fill;
                            left: 0;
                            right: 0;
                        }
                    }
                // }
                .content{
                    position: absolute;
                    text-align: center;
                    z-index: 2;
                    padding: 0px 10px;
                    color: #fff;
                    top: 60%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .img-box{
                        background-color: var(--primary-color);
                    // width: 40px;
                    // height: 40px;
                    padding: 7px;
                    border-radius: 50%;
                    /* padding: 16px; */
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                        img{
                            &.img-icon{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    h3{
                        font-size:20px;
                        color: var(--dark-color);
                        margin-inline-start: 5px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--dark-color);
                        margin-top: 8px;
                        text-align: start;
                        line-height: 1.67;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
                &:hover{
                    transition: var(--transition);
                    transform: scale(0.95);
                }
            }
        }
    }
}

.col-top{
    margin-top: -25px;
}

// //   /*--------------------------------------------------------------
// //   # End  Services
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # Start Statistics
// //   --------------------------------------------------------------*/

.statistics{
    background-image: url(../img/statistics-bg.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    width: 100%;
    // height: 650px;
    padding: 60px;
.statistics-wrapper-navs{
    .navs-statistics{
    .nav-tabs{
        li{
            &.nav-item{
                height: 50px;
                line-height: 50px;
                background-color: #DADADA;
                border-radius: 0;
                a{
                    background-color: transparent;
                    &.nav-link{
                        color: var(--navbar-color);
                        font-size: 15px;
                        height: 50px;
                        &.active{
                        background-color: var(--icons-bg-color);
                        color: var(--white-color);
                        font-size: 15px;
                        height: 50px;
                        position: relative;
                        border: 0;
                        }
                  
                    //     &:focus,&:hover{
                    //     border: 0;
                    //     }
                    }
                   
                }
                &:first-child{
                    border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 8px;
                }
                &:last-child{
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            background-color: #E5E5E5;
                }
            }
        }

    }
    }
}
.statistics-wrapper-content{
    margin-top: 30px;
        .card-item{
            background-color: var(--primary-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 20px 10px;
            border-radius: 8px;
            .container-icon{
                // background-color: var(--icons-bg-color);
                width: 65px;
                height: 65px;
                border-radius: 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .percent{
                margin-top: 15px;
                font-size: 20px;
                color: var(--white-color);
                font-weight: 700;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            p {
                text-align: center;
                font-size: 16px;
                color: var(--white-color);
                font-weight: 400;
                padding: 0;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
        #ex2-tabs-1{
            .card-item{
                .container-icon{
                    background-color: var(--icons-bg-color);
                }
            }
        }
        #ex2-tabs-2{
            .card-item{
                .container-icon{
                    background-color: var(--third-color);
                }
            }
        }
        #ex2-tabs-3{
            .card-item{
                .container-icon{
                    background-color: var(--dark-green-color);
                }
            }
        }
}

}

// //   /*--------------------------------------------------------------
// //   # End Statistics
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Hero News
// //   --------------------------------------------------------------*/
.news{
    background-image: url(../img/Rectangle109.png);
    width: 100%;
    .news-bg{
    padding-bottom: 70px;
    background-image: url(../img/news-bg.png);
    background-position: bottom;
    background-size: cover;
    .news-wrapper-navs{
        .navs-news{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav-tabs{
                .nav-item{
                    a{
                        &.nav-link{
                            font-size: 15px;
                            color: #A9A9A9;
                            font-weight: 500;
                            padding: 0;
                            margin: 0 10px;
                            position: relative;
                            &.active{
                            background-color: transparent;
                            color: var(--primary-color);
                            font-size: 15px;
                            position: relative;
                            border: 0;
                            svg{
                              font-size: 20px;
                              path{
                                fill:var(--primary-color);
                              }
                              &.last-news{
                                path{
                                  fill: transparent;
                                  stroke: var(--primary-color);
                            
                                }
                              }
                            }
                            &::after{
                              position: absolute;
                              content: '';
                              background-color: var(--primary-color);
                              width: auto;
                              height: 2px;
                              left: 0;
                              right: 0;
                              bottom: -8px;
                            }
              
                            }
                            svg{
                              font-size: 20px;
                              path{
                                fill: #A9A9A9;
                              }
                              &.last-news{
                                path{
                                  fill: transparent;
                              
                                }
                              }
                            }
                        &:focus,&:hover{
                          border: 0;
                        }
                          }
                    }
                }
              }
        }
    }
    .news-wrapper-content{
        margin: 30px 0px;
    }
    }
}


#mySwiper{
    width: 100%;
    margin: auto;
    overflow: hidden;
    .swiper-wrapper-news{
    .box-swiper {
        .card-box{
            position: relative;
            text-align: center;
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 30px;
            &:after{
                content: "";
                width: 100%;
                height: 400px;
                position: absolute;
                left: 0;
                top: 0;
              }
            .img-card{
                img{
                    width: 100%;
                    height:  400px;
                    position: absolute;
                    object-fit: fill;
                  left: 0;
                  right: 0;
                }
            }
            .img-box{
                background-color: var(--primary-color);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 20px;
            right: unset;
            top: 20px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            .content{
                text-align: center;
                position: relative;
                z-index: 2;
                padding: 0px 5px;
                color: #fff;
                top: 65%;

                h3{
                    // font-size: var(--serv-card-heading);
                    font-size: 17px;
                    color: var(--dark-color);
                    margin-inline-start: 2px;
                    margin-top: 5px;
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    // width: 15ch;
                    -webkit-box-orient: vertical;
                    
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--dark-color);
                    margin-top: 8px;
                    // text-align: start;
                    line-height: 1.67;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            &:hover{
                transition: var(--transition);
                transform: scale(0.95);
            }
        }
  
      }
    }
    }
    
#mySwiperLastNews{
    width: 100%;
    margin: auto;
    overflow: hidden;
    .swiper-wrapper-lastNews{
    width: 100%;
    .box-swiper {
        .card-box{
            position: relative;
            text-align: center;
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 30px;
            &:after{
                content: "";
                width: 100%;
                height: 400px;
                position: absolute;
                left: 0;
                top: 0;
                // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
                // opacity: 0.95;
              }
            .img-card{
                img{
                    width: 100%;
                    height:  400px;
                    position: absolute;
                    object-fit: fill;
                  left: 0;
                  right: 0;
                }
            }
           
            .content{
                text-align: center;
                position: relative;
                z-index: 2;
                padding: 0px 5px;
                color: #fff;
                top: 65%;

                h3{
                    // font-size: var(--serv-card-heading);
                    font-size: 17px;
                    color: var(--dark-color);
                    margin-inline-start: 2px;
                    margin-top: 5px;
                    font-weight: 700;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    // width: 15ch;
                    -webkit-box-orient: vertical;
                    
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--dark-color);
                    margin-top: 8px;
                    // text-align: start;
                    line-height: 1.67;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .img-box{
                    background-color: var(--primary-color);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            &:hover{
                transition: var(--transition);
                transform: scale(0.95);
            }
        }
  
      }
    }
    }

    .swiper-pagination{
        position: relative;
        margin-top: 1rem;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height:10px;
        border-radius: 10px;
        background: var(--third-color);

      }
  
      .swiper-pagination-bullet-active {
        background: var(--primary-color);
        width: 50px;
        height: 10px;
        border-radius: 10px;
      }


    .swiper-slide {
        // filter: brightness(0.8);
        transition: filter 0.3s ease;
       // width: 200px !important;
       transform: scale(.9)!important;
        .card-box{
            &:after{
                content: "";
                width: 100%;
                height: 400px;
                position: absolute;
                left: 0;
                top: 0;
                // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
                background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%);
                opacity: .3;
              }
            .content{
                display: block;
            }
        }
    }    

    .swiper-slide-active {
        // filter: brightness(1); /* Slightly increase brightness */
        transition: transform 0.3s ease, filter 0.3s ease;
       // width:250px  !important;
       transform: scale(1)!important;
        .card-box{
            &:after{
                content: "";
                width: 100%;
                height: 400px;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
                opacity: .9;
                // background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%);
              }
              .content{
                display: block;
                text-align: center;
    }
        }

}


// //   /*--------------------------------------------------------------
// //   # End Hero News
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # start Evaluation
// //   --------------------------------------------------------------*/

.evaluation{
    padding: 50px 0px;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    .evaluation-btns{
        display: flex;
        justify-content: center;
        margin-inline-start: 70px;
        .btn-box{
            .btn-ev{
                background-color: transparent;
                margin-inline: 5px;
                border: none;
                svg{
                    width: 40px;
                    height: 40px;
                    fill: transparent;
                    stroke: var(--icon-star-color);
                }
                &.active{
                    svg{
                    fill: var(--icon-star-color);
                    stroke: var(--icon-star-color);
                    }
                }
                &:hover{
                    svg{
                        transition: var(--transition);
                    transform: scale(1.2);
                    }
                }
             
            }
        }
    }
}

// //   /*--------------------------------------------------------------
// //   # end Evaluation
// //   --------------------------------------------------------------*/

// #mySwiperLastHero{
//     width: 100%;
//     margin: auto;
//     overflow: hidden;
//     .card-wrapper{
//         .card-box{
//             margin-top: 250px;
//             position: relative;
//             overflow: hidden;
//             border-radius: 30px;
//             &:nth-child(1){
//                     position: relative;
//                     left: unset;
//                     right: 130px;
//                     top: -50px;
//                     height: 180px;
//                     width: 330px;
//                     &:after{
//                             content: "";
//                             width: 330px;
//                             height: 180px;
//                             position: absolute;
//                             left: 0;
//                             right: 0;
//                             top: 0;
//                             background: var(--third-color);
//                             opacity: 0.8;
//                           }
//                           .img-card{
//                             img{
//                                 width: 330px;
//                                 height: 180px;
//                                 position: absolute;
//                                 object-fit: fill;
//                                 left: 0;
//                                 right: 0;
//                             }
//                         }
//                 }
            
//         // .img-card{
//         //     img{
//         //         width: 180px;
//         //         height: 180px;
//         //     }
//         // }
//         .content{
//             display: none;
//         }
//             }  
//     }
// }


//***********

// position: absolute;
// top: 20px;
// right: 20px;
// left: unset;
// background: red;
// width: 45px;
// height: 45px;
// display: flex
// ;
// align-items: center;
// justify-content: center;
// border-radius: 50%;



