


// //   /*--------------------------------------------------------------
// //   # Start Hero Section
// //   --------------------------------------------------------------*/
.hero{
          height: -moz-calc(100vh - 100px);
          height: -webkit-calc(100vh - 100px);
          height: calc(100vh - 100px);
        //   margin-top: 100px;
    .hero-bg{
        position: relative;
        text-align: center;
        width: 100%;
        // height: 100vh;
          height: -moz-calc(100vh - 100px);
          height: -webkit-calc(100vh - 100px);
          height: calc(100vh - 100px);
          margin-top: 100px;

        overflow: hidden;
        clip-path: circle(105% at 0 50%);

        &:after{
          content: "";
          width: 100%;
        //   height: -moz-calc(100vh - 100px);
        //   height: -webkit-calc(100vh - 100px);
        //   height: calc(100vh - 100px);
        //   margin-top: 100px;
        height: 100vh;
          position: absolute;
          left: 0;
          top: 0;
          background: var(--primary-color);
          opacity: 0.8;
        //   clip-path: circle(105% at 100% 50%);
          clip-path: circle(105% at 0 50%);

        }
        .video-bg{
          img{
            width: 100%;
            // height: 100vh;
            height: -moz-calc(100vh - 100px);
            height: -webkit-calc(100vh - 100px);
            height: calc(100vh - 100px);
            position: absolute;
            // margin-top: 100px;
            // object-fit: fill;
            left: 0;
            right: 0;
        }
        }
        .custom-container {
            display: flex;
            position: relative;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            justify-content: start;
            align-items: center;
          .box-content{
            padding-inline-start: 90px;
            .custon-banner-title{
                margin-inline-start: -90px;
            }
           h2{
            color: var(--white-color);
            margin-bottom: 30px;
            font-size: 48px;
            font-weight: 700;
           }
           p{
            color: var(--white-color);
            margin-bottom: 30px;
            margin-top: 10px;
            font-size: 25px;
            font-weight: 400;
            font-family: PingARLT-Regular;
           }
    
          }
      }
      }

      .wrapper-cards{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        .card-box{
            position: relative;
            width: 180px;
            height: 180px;
            overflow: hidden;
            border-radius: 30px;
            &.first-card{
                position: relative;
                left: unset;
                right: 130px;
                top: 25px;
                &:after{
                background: var(--third-color);
              }
            }
            &.sec-card{
                z-index: -9;
                position: relative;
                top: -37px;
                left: unset;
                right: -25px;
                &:after{
                    background: var(--green-color);
                  }
            }
            &.third-card{
                position: relative;
                // top: -20px;
                // left: unset;
                // right: 45px;
                top: -135px;
                left: unset;
                right: 25px;
                &:after{
                    background: var(--secondary-color);
                  }
            }
            &:after{
                content: "";
                width: 180px;
                height: 180px;
                position: absolute;
                left: 0;
                top: 0;
                background: var(--third-color);
                opacity: 0.8;
              }
            .img-card{
                img{
                    // width: 100%;
                    // height:  170px;
                    width: 180px;
                    height: 180px;
                    position: absolute;
                    object-fit: fill;
                  left: 0;
                  right: 0;
                }
            }
            .content{
                text-align: center;
                position: relative;
                z-index: 2;
                padding: 0px 5px;
                color: #fff;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                // }
                h3{
                    font-size: var(--navbar-fontSize);
                    color: var(--white-color);
                    margin: 10px 0px;
                    font-weight: 700;
                }
                p{
                    font-size: var(--moreLink-fontSize);
                    color: var(--white-color);
                    font-weight: 400;
                    font-family: PingARLT-Light;
                }
            }
        }
      }
}
// //   /*--------------------------------------------------------------
// //   # End Hero Section
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # Start  Services
// //   --------------------------------------------------------------*/
.services{
    margin-top: 100px;
    background-image: url(../img/Rectangle109.png);
    width: 101%;
    .sec-bg{
        padding-bottom: 50px;
        background-image: url(../img/Vector14.png);
        background-position: bottom;
        background-size: cover;
    .card-box{
        position: relative;
        text-align: center;
        // width: 100%;
        // height: 240px;
        width: 280px;
        height: 300px;
        overflow: hidden;
        border-radius: 30px;
        box-shadow:0px 8px 24px rgba(0, 0, 0, 0.25);
        &:after{
            content: "";
            width: 300px;
            height: 370px;
            position: absolute;
            left: 0;
            top: 0;
            background: var(--white-color);
            opacity: 0.95;
            background-color: rgba(255, 255, 255, 0.95);
          }
        .img-card{
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: fill;
              left: 0;
              right: 0;
            }
        }
        .content{
            // text-align: center;
            // margin-top: 100px;
            // position: relative;
            // z-index: 2;
            // top: 105px;
            // padding: 20px;
            // color: #000;
            text-align: center;
            position: relative;
            z-index: 2;
            padding: 0px 5px;
            color: #fff;
            // top: 50%;
            // transform: translateY(-50%);
            // bottom: 0%;
            // transform: translateY(165px);
            top: 50%;
            transform: translateY(60%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .img-box{
                background-color: var(--primary-color);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            /* padding: 16px; */
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            h3{
                font-size: var(--serv-card-heading);
                color: var(--dark-color);
                margin-inline-start: 5px;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                font-family: PingARLT-Regular;
                color: var(--dark-color);
                margin-top: 8px;
                text-align: start;
                line-height: 1.67;
            }
        }
    }
    }
}

.col-top{
    margin-top: -25px;
}

// //   /*--------------------------------------------------------------
// //   # End  Services
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # Start Statistics
// //   --------------------------------------------------------------*/

.statistics{
    background-image: url(../img/statistics-bg.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    width: 101%;
    height: 650px;
    padding: 60px;
    .statistics-content{
        margin-inline-start: 60px;
      }
.statistics-cards{
    position: relative;
    .card-box-top{
        position: relative;
        text-align: center;
        width: 100%;
        height: 340px;
        overflow: hidden;
        border-radius: 30px;
        &:after{
            content: "";
            width: 100%;
            // height:  calc(100vh - 80px);
            height: 340px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background: var(--forth-color);
            opacity: 0.85;
          }
        .img-card{
            img{
                width: 100%;
                height:  340px;
                // height: 100vh;
                position: absolute;
                object-fit: fill;
              left: 0;
              right: 0;
            }
        }
       
    }
    .card-box-bottom{
        position: absolute;
        top: 105px;
        left: 85px;
        text-align: center; 
        width: 250px;
        height: 270px;
        overflow: hidden;
        border-radius: 30px;
        &:after{
            content: "";
            width: 100%;
            // height:  calc(100vh - 80px);
            height: 340px;
            position: absolute;
            left: 0;
            top: 0;
            background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%) !important;
            opacity: 0.85;
          }
        .img-card{
            img{
                width: 100%;
                height:  340px;
                // height: 100vh;
                position: absolute;
                object-fit: cover;
              left: 0;
              right: 0;
            }
        }
       
    }
}
   
.statistics-sec{
    background-image: url(../img/Group408.png);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: contain; 
    width: 760px;
    height: 600px;
    margin:40px auto;
    // margin-inline-start: 125px;
    margin-inline-start: 80px;
    position: relative;
        .statistics-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            .container-icon{
                background-color: var(--third-color);
                width: 65px;
                height: 65px;
                border-radius: 50%;
                /* padding: 16px; */
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 34px;
                 height: 30px;
                }
            }
            h3{
                margin-top: 15px;
                font-size: 20px;
                color: #000;
                font-weight: 700;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 17px;
                color: #000;
                font-weight: 400;
                font-family: PingARLT-Regular;
                padding: 0;
                margin: 0;
            }
    }
        .statistics-card-one{
            position: absolute;
            left: unset;
            right: -25px;
    }
        .statistics-card-two{
            position: absolute;
            left: unset;
            right: 86px;
            top: 132px;
            .container-icon{
                background-color: var(--icons-bg-color);
            }
    }
        .statistics-card-three{
            position: absolute;
            left: unset;
            right: 310px;
            top: 81px;
    }
        .statistics-card-four{
            position: absolute;
            left: 125px;
            right: unset;
            top: -37px;
            .container-icon{
                background-color: var(--icons-bg-color);
            }
    }
        .statistics-card-five{
            position: absolute;
            left: -45px;
    right: unset;
    top: 95px;
    }
        .statistics-card-six{
                position: absolute;
                left: 128px;
                right: unset;
                top: 228px;
                .container-icon{
                    background-color: var(--icons-bg-color);
                }
        }

}

}
// //   /*--------------------------------------------------------------
// //   # End Statistics
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Hero News
// //   --------------------------------------------------------------*/
.news{
    background-image: url(../img/Rectangle109.png);
    width: 101%;
    .news-bg{
    padding-bottom: 70px;
    background-image: url(../img/news-bg.png);
    background-position: bottom;
    background-size: cover;
    }
}

#mySwiper{
    // height: 530px;
    margin-top: 70px;
    .box-swiper {
        .card-box{
            position: relative;
            text-align: center;
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 30px;
            &:after{
                content: "";
                width: 100%;
                height: 400px;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
                // opacity: 0.95;
              }
            .img-card{
                img{
                    width: 100%;
                    height:  400px;
                    position: absolute;
                    object-fit: fill;
                  left: 0;
                  right: 0;
                }
            }
            .content{
                text-align: center;
                // margin-top: 80px;
                position: relative;
                z-index: 2;
                bottom: -220px;
                padding: 20px;
                color: #000;
                .img-box{
                    background-color: var(--primary-color);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                /* padding: 16px; */
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
                h3{
                    font-size: var(--mainText-fontSize);
                    color: var(--primary-color);
                    margin-inline-start: 5px;
                }
                div,p{
                    font-size: var(--moreLink-fontSize);
                    font-weight: 400;
                    color: var(--dark-color);
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }
  
      }
    }

    .swiper-pagination{
        position: relative;
        margin-top: 1rem;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height:10px;
        border-radius: 10px;
        background: var(--third-color);

      }
  
      .swiper-pagination-bullet-active {
        background: var(--primary-color);
        width: 50px;
        height: 10px;
        border-radius: 10px;
      }


      
    //   .swiper {
    //     width: 100%;
    //   }
      


    //   .swiper-slide {
    //     width: 750px !important;
    //   }

    //   .swiper-slide.swiper-slide-next{
    //     width: 150px !important;
    //   }
    //   .swiper-slide.swiper-slide-prev{
    //     width: 150px !important;
    //   }

    //   .swiper-slide.swiper-slide-active{
    //     width: 450px !important;
    //   }


// //   /*--------------------------------------------------------------
// //   # End Hero News
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # start Evaluation
// //   --------------------------------------------------------------*/

.evaluation{
    padding: 50px 0px;
    background-color: var(--primary-color);
    width: 101%;
    display: flex;
    justify-content: center;
    .evaluation-btns{
        display: flex;
        justify-content: center;
        margin-inline-start: 70px;
        .btn-box{
            .btn-ev{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: transparent;
                color: var(--white-color);
                margin-inline: 5px;
                &:nth-child(1){
                    border: 1px solid var(--white-color);
                }
                &:nth-child(2){
                    border: 1px solid var(--third-color); 
                }
                &:nth-child(3){
                    border: 1px solid var(--green-color); 
                }
                &:nth-child(4){
                    border: 1px solid var(--white-green-color); 
                }
                &.active{
                    border: 1px solid var(--third-color);
                    background-color: var(--third-color); 
                }
            }
        }
    }
}


// //   /*--------------------------------------------------------------
// //   # end Evaluation
// //   --------------------------------------------------------------*/





