


// //   /*--------------------------------------------------------------
// //   # Start Hero Section
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # End Hero Section
// //   --------------------------------------------------------------*/



.hero{
    // height: 100vh;
    .hero-bg{
        position: relative;
        text-align: center;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        clip-path: circle(105% at 100% 50%);
        &:after{
          content: "";
          width: 100%;
        //   height: -moz-calc(100vh - 100px);
        //   height: -webkit-calc(100vh - 100px);
        //   height: calc(100vh - 100px);
        height: 100vh;
          position: absolute;
          left: 0;
          top: 0;
          background: var(--primary-color);
          opacity: 0.8;
          clip-path: circle(105% at 100% 50%);
        }
        .video-bg{
          img{
            width: 100%;
            height: 100vh;
            // height: -moz-calc(100vh - 100px);
            // height: -webkit-calc(100vh - 100px);
            // height: calc(100vh - 100px);
            position: absolute;
            margin-top: 100px;
            // object-fit: fill;
          left: 0;
          right: 0;
        }
        }
        .custom-container {
          position: relative;
          z-index: 2;
          .box-content{
            margin-top:280px;
            text-align: start;
            padding-inline-start: 90px;
           h2{
            color: var(--white-color);
            margin-bottom: 30px;
            font-size: 48px;
            font-weight: 700;
           }
           p{
            color: var(--white-color);
            margin-bottom: 30px;
            font-size: 25px;
            font-weight: 400;
           }
    
          }
      }
      }
}


  .wrapper-cards{
    margin-top: 235px;
    .card-box{
        position: relative;
        width: 225px;
        height: 225px;
        overflow: hidden;
        border-radius: 30px;
        &.first-card{
            position: relative;
            left: 130px;
            top: 25px;
            &:after{
            background: var(--third-color);
          }
        }
        &.sec-card{
            z-index: -9;
            position: relative;
            top: -37px;
            left: -25px;
            &:after{
                background: var(--green-color);
              }
        }
        &.third-card{
            position: relative;
            top: -20px;
            left: 15px;
            &:after{
                background: var(--secondary-color);
              }
        }
        &:after{
            content: "";
            width: 225px;
            height: 225px;
            position: absolute;
            left: 0;
            top: 0;
            background: var(--third-color);
            opacity: 0.8;
          }
        .img-card{
            img{
                // width: 100%;
                // height:  170px;
                width: 225px;
                height: 225px;
                position: absolute;
                object-fit: fill;
              left: 0;
              right: 0;
            }
        }
        .content{
            text-align: start;
            position: relative;
            z-index: 2;
            padding: 20px;
            color: #fff;
            top: 65px;
            .img-box{
                background-color: var(--primary-color);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            /* padding: 16px; */
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            h3{
                font-size: var(--mainText-fontSize);
                color: var(--white-color);
                margin: 10px 0px;
            }
            p{
                font-size: var(--mainText-fontSize);
                color: var(--white-color);
                font-weight: 400;
            }
        }
    }
  }



// //   /*--------------------------------------------------------------
// //   # Start Hero Services
// //   --------------------------------------------------------------*/
.services{
    background-image: url(../img/Rectangle109.png);
    width: 101%;
    .sec-bg{
        padding-bottom: 50px;
background-image: url(../img/Vector14.png);
    background-position: bottom;
    background-size: cover;

    .card-box{
        position: relative;
        text-align: center;
        // width: 100%;
        // height: 240px;
        width: 300px;
        height: 370px;
        overflow: hidden;
        border-radius: 30px;
        &:after{
            content: "";
            width: 300px;
            height: 370px;
            position: absolute;
            left: 0;
            top: 0;
            background: var(--white-color);
            opacity: 0.95;
          }
        .img-card{
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: fill;
              left: 0;
              right: 0;
            }
        }
        .content{
            text-align: center;
            margin-top: 100px;
            position: relative;
            z-index: 2;
            top: 105px;
            padding: 20px;
            color: #000;
            .img-box{
                background-color: var(--primary-color);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            /* padding: 16px; */
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            h3{
                font-size: var(--mainText-fontSize);
                color: var(--primary-color);
                margin-inline-start: 5px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                color: var(--dark-color);
                margin-top: 15px;
            }
        }
    }
    }
}

.col-top{
    margin-top: -25px;
}

// //   /*--------------------------------------------------------------
// //   # End Hero Services
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # Start Hero Statistics
// //   --------------------------------------------------------------*/

.statistics{
    background-image: url(../img/statistics-bg.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    width: 101%;
    height: 650px;
    padding: 60px;
.statistics-cards{
    position: relative;
    .card-box-top{
        position: relative;
        text-align: center;
        width: 100%;
        height: 340px;
        overflow: hidden;
        border-radius: 30px;
        &:after{
            content: "";
            width: 100%;
            // height:  calc(100vh - 80px);
            height: 340px;
            position: absolute;
            left: 0;
            top: 0;
            background: var(--forth-color);
            opacity: 0.85;
          }
        .img-card{
            img{
                width: 100%;
                height:  340px;
                // height: 100vh;
                position: absolute;
                object-fit: fill;
              left: 0;
              right: 0;
            }
        }
       
    }
    .card-box-bottom{
        position: absolute;
        top: 105px;
        left: -65px;

        text-align: center; 
        width: 250px;
        height: 270px;
        overflow: hidden;
        border-radius: 30px;
        &:after{
            content: "";
            width: 100%;
            // height:  calc(100vh - 80px);
            height: 340px;
            position: absolute;
            left: 0;
            top: 0;
            background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%) !important;
            opacity: 0.85;
          }
        .img-card{
            img{
                width: 100%;
                height:  340px;
                // height: 100vh;
                position: absolute;
                object-fit: fill;
              left: 0;
              right: 0;
            }
        }
       
    }
}
   
.statistics-sec{
    background-image: url(../img/Group408.png);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: contain; 
    width: 760px;
    height: 600px;
    margin:40px auto;
    margin-inline-start: 125px;
    position: relative;
        .statistics-card{
            .container-icon{
                background-color: var(--third-color);
                width: 65px;
                height: 65px;
                border-radius: 50%;
                /* padding: 16px; */
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 34px;
                 height: 30px;
                }
            }
    }
        .statistics-card-one{
            position: absolute;
            left: unset;
            right: -25px;
    }
        .statistics-card-two{
            position: absolute;
            left: unset;
            right: 108px;
            top: 142px;
    }
        .statistics-card-three{
            position: absolute;
            left: unset;
            right: 345px;
            top: 81px;
    }
        .statistics-card-four{
            position: absolute;
            left: 138px;
    right: unset;
    top: -37px;
    }
        .statistics-card-five{
            position: absolute;
            left: -45px;
    right: unset;
    top: 95px;
    }

        .statistics-card-six{
            position: absolute;
            left: 128px;
            right: unset;
            top: 228px;
    }

}

}


// //   /*--------------------------------------------------------------
// //   # End Hero Statistics
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Hero News
// //   --------------------------------------------------------------*/
.news{
    background-image: url(../img/Rectangle109.png);
    width: 101%;
    .news-bg{
    padding-bottom: 70px;
    background-image: url(../img/news-bg.png);
    background-position: bottom;
    background-size: cover;
    }
}



#mySwiper{
    // height: 530px;
    margin-top: 70px;
    .box-swiper {
        .card-box{
            position: relative;
            text-align: center;
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 30px;
            &:after{
                content: "";
                width: 100%;
                height: 400px;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
                // opacity: 0.95;
              }
            .img-card{
                img{
                    width: 100%;
                    height:  400px;
                    position: absolute;
                    object-fit: fill;
                  left: 0;
                  right: 0;
                }
            }
            .content{
                text-align: center;
                // margin-top: 80px;
                position: relative;
                z-index: 2;
                bottom: -220px;
                padding: 20px;
                color: #000;
                .img-box{
                    background-color: var(--primary-color);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                /* padding: 16px; */
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                }
                h3{
                    font-size: var(--mainText-fontSize);
                    color: var(--primary-color);
                    margin-inline-start: 5px;
                }
                div,p{
                    font-size: var(--moreLink-fontSize);
                    font-weight: 400;
                    color: var(--dark-color);
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }
  
      }
    }

    .swiper-pagination{
        position: relative;
        margin-top: 1rem;
    }

    .swiper-pagination-bullet {
        width: 30px;
        height:10px;
        border-radius: 10px;
        background: var(--third-color);

      }
  
      .swiper-pagination-bullet-active {
        background: var(--primary-color);
        width: 50px;
        height: 10px;
        border-radius: 10px;
      }

    //   .swiper {
    //     width: 100%;
    //   }
      


      .swiper-slide {
        width: 750px !important;
      }

      .swiper-slide.swiper-slide-next{
        width: 150px !important;
      }
      .swiper-slide.swiper-slide-prev{
        width: 150px !important;
      }

      .swiper-slide.swiper-slide-active{
        width: 450px !important;
      }


// //   /*--------------------------------------------------------------
// //   # End Hero News
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # start Evaluation
// //   --------------------------------------------------------------*/

.evaluation{
    padding: 50px 0px;
    background-color: var(--primary-color);
    width: 101%;
    display: flex;
    justify-content: center;
    .evaluation-btns{
        display: flex;
        justify-content: center;
        margin-inline-start: 70px;
        .btn-box{
            .btn-ev{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: transparent;
                color: var(--white-color);
                margin-inline: 5px;
                &:nth-child(1){
                    border: 1px solid var(--white-color);
                }
                &:nth-child(2){
                    border: 1px solid var(--third-color); 
                }
                &:nth-child(3){
                    border: 1px solid var(--green-color); 
                }
                &:nth-child(4){
                    border: 1px solid var(--white-green-color); 
                }
                &.active{
                    border: 1px solid var(--third-color);
                    background-color: var(--third-color); 
                }
            }
        }
    }
}


// //   /*--------------------------------------------------------------
// //   # end Evaluation
// //   --------------------------------------------------------------*/




