


// //   /*--------------------------------------------------------------
// //   # Start Search Section 
// //   --------------------------------------------------------------*/

.search{
    margin: 30px 0px;
    .search-wrapper{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 25px;
        background-color: var(--gray-color);
        border-radius: 8px;
        margin-bottom: 20px;
        // stroke: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-img-box{
            width: 320px;
            height: 170px;
            border-radius: 30px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px;
            }
            &:after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 30px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
              }
        }
        .search-content-box{
            width: 100%;
            margin-inline-start: 40px;
            text-align: justify;
            .title-icon{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .img-box{
                    background-color: var(--primary-color);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                h2{
                    font-size: var(--serv-card-heading);
                    color: var(--dark-color);
                    margin-inline-start: 5px;
                    font-weight: 700;
                }

            }
            .desc{
                margin-inline-start: 40px;
                p{
                    color: var(--text-dark-color);
                    font-size: var(--btns-fontSize);
                    line-height: 1.8;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }
            .read-more{
                display: flex;
                align-items: center;
                justify-content: end;
                .more{
                    font-size: 18px;
                    font-weight: 700;
                    color: rgba(62, 19, 148, 1);
                    margin-top: 20px;
                    line-height: 25.74px;
                    text-transform: capitalize;
                    span{
                        &:nth-child(2){
                            margin-inline-start: 5px;
                        }
                    }
                    &:hover{
                        letter-spacing: 1.1px;
                    }
                }
            }
        }
    }
}

// //   /*--------------------------------------------------------------
// //   # End Search Section 
// //   --------------------------------------------------------------*/



.calendar-sec-1{
    margin-inline-end: 0;
    margin-inline-start: auto;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    position: fixed;
    top: 40%;
    left: 0;
    right: unset;
    p{
a{
    &.asdf{
        background-color: var(--primary-color);
        transform: rotate(-90deg);
        height: 45px;
        padding-inline: 20px;
        border-radius: 14px;
        color: #fff;
        cursor: pointer;
        width: -moz-max-content;
        width: max-content;
        border: 0 !important;
      }
}
    }


}




