

:root{
  --primary-color:#052976;
  --secondary-color:#2633FF;
  --third-color: #9EA4FF;
  --forth-color: #3E1394;
  --green-color: #20CC76;
  --white-green-color: #4CC4FF;
  --navs-color: #8142FF;
  --dark-color:#000000;
  --white-color:#ffffff;
  --navbar-color:#333333;
  --gray-color:#707070;
  --text-gray-color:#595959;
  --sec-gray-color:#969696;
  --third-gray-color:#B3B3B3;
  --transition: all 0.3s ease-in-out;
  --border-color:#DCDCDC;
  --mainHeading-fontSize:30px;
  --mainText-fontSize:20px;
  --moreLink-fontSize:13px;
  --navbar-fontSize:14px;
}

// background: #B3B3B3;

  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/


  @font-face {
    font-family: PingARLT;
    src: url(../Main-font/Font/PingAR+LT-Medium.otf);
  }

  @font-face {
    font-family: PingARR;
    src: url(../Main-font/Font/PingAR+LT-Bold.otf);
  }

  
  body {
    overflow-x: hidden;
    font-family: PingARLT;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--primary-color);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    border-radius: 10px;
    transition: var(--transition);
  }
  
  // ::-webkit-scrollbar-thumb:hover {
  //   background-color:var(--secondary-color);
  //   background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  // }
  
  a {
    transition: all .8s;
    text-decoration: none;
    box-shadow: none !important;
  }
  a:hover {
    transition: all .8s;
  }

ul{
  list-style: none;
}

  ul,p{
    padding: 0px;
    margin: 0px;
  }
  

input:focus-visible{
  outline: none;
}

p{
  &.desc{
font-size: 18px;
font-weight: 400;
color: var(--dark-color);
padding: 20px 0px;
  }
}

.main-heading{
  margin-top: 20px;
  h2{
      &.title{
        width: 186px;
        height: 100%;
        // border-radius: 4px;
        font-size: var(--mainHeading-fontSize);
        font-weight: 700;
        line-height: 1.5;
        align-items: center;
        padding: 15px 9px;
        // border: 1px solid var(--navs-color);
      }
  }
}



.section-title{
  .sec-after-before{
    position: relative;
    display: inline-block;
    &::before{
      position: absolute;
      content: "";
      top: -30px;
      right: -35px;
      left: unset;
      height: 53px;
      width: 43px;
      background-image:url(../img/icon-right.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: auto;
    }
    &::after{
      position: absolute;
      content: "";
      top: -6px;
    left: -42px;
      right: unset;
      height: 53px;
      width: 43px;
      background-image:url(../img/icon-left.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: auto;
    }
    h3{
      font-size: var(--mainHeading-fontSize);
      color: var(--dark-color);
      font-weight: 700;
    }
  }

}

// //   /*--------------------------------------------------------------
// //   # Icon Heading
// //   --------------------------------------------------------------*/

.section-title-heading{
  .sec-after-before-heading{
    position: relative;
    display: inline-block;
    &::before{
      position: absolute;
      content: "";
      top: -25px;
      right: -32px;
      left: unset;
      height: 38px;
      width: 38px;
      background-image:url(../img/icon-right.png);
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    &::after{
      position: absolute;
      content: "";
      top: -2px;
    left: -36px;
      right: unset;
      height: 38px;
      width: 38px;
      background-image:url(../img/icon-left.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    h3{
      font-size: var(--mainText-fontSize);
      color: var(--dark-color);
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

}



.nav-tabs{
  .nav-item{
      margin-inline: 10px;
      a{
          &.nav-link{
              background-color: var(--white-color);
              border-radius: 8px;
              font-size: 15px;
              color: var(--navbar-color);
              &.active{
                  // background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%) !important;
              background-color: var(--navs-color);
              color: #fff;
    font-size: 15px;
              }
          }
          
      }
  }
}

.box-container{
  padding-inline: 60px;
}

