

:root{
  --primary-color:#052976;
  --secondary-color:#2633FF;
  --third-color: #9EA4FF;
  --forth-color: #3E1394;
  --green-color: #20CC76;
  --white-green-color: #4CC4FF;
  --navs-color: #8142FF;
  --icons-bg-color: #515BFF;
  --dark-color:#000000;
  --white-color:#ffffff;
  --navbar-color:#333333;
  --gray-color:#707070;
  --text-gray-color:#595959;
  --sec-gray-color:#969696;
  --third-gray-color:#B3B3B3;
  --transition: all 0.3s ease-in-out;
  --border-color:#DCDCDC;
  --mainHeading-fontSize:30px;
  --serv-card-heading:25px;
  --mainText-fontSize:20px;
  --moreLink-fontSize:13px;
  --navbar-fontSize:14px;
  --btns-fontSize:15px;
}

// background: #B3B3B3;

  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/


  // @font-face {
  //   font-family: PingARLT-Medium;
  //   src: url(../Main-font/Font/PingAR+LT-Medium.otf);
  // }

  // @font-face {
  //   font-family: PingARLT-Light;
  //   src: url(../Main-font/Font/PingAR+LT-Light.otf);
  // }

  // @font-face {
  //   font-family: PingARR;
  //   src: url(../Main-font/Font/PingAR+LT-Bold.otf);
  // }
  // @font-face {
  //   font-family: PingARLT-Regular;
  //   src: url(../Main-font/Font/PingAR+LT-Regular.otf);
  // }


@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font//PingAR-LT-Light.otf);
  font-weight: 300; /* Light */

}

@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR-LT-Regular.otf);
  font-weight: 400; /* Regular */

}

@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR-LT-Medium.otf);
  font-weight: 500; /* Normal */

}

@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR-LT-Bold.otf);
  font-weight: 600; /* Bold */

}
@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR-LT-Heavy.otf);
  font-weight: 700; /* Heavy */

}

  body {
    overflow-x: hidden;
    font-family: PingAR;
  }
  
  html {
    scroll-behavior: smooth;
  }
  

  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--primary-color);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    border-radius: 10px;
    transition: var(--transition);
  }
  
  // ::-webkit-scrollbar-thumb:hover {
  //   background-color:var(--secondary-color);
  //   background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  // }
  
  a {
    transition: all .8s;
    text-decoration: none;
    box-shadow: none !important;
  }
  a:hover {
    transition: all .8s;
  }

ul{
  list-style: none;
}

  ul,p{
    padding: 0px;
    margin: 0px;
  }
  

input:focus-visible{
  outline: none;
}

p{
  &.desc{
font-size: 18px;
font-weight: 400;
color: var(--dark-color);
padding: 20px 0px;
  }
}

.main-heading{
  margin-top: 20px;
  h2{
      &.title{
        width: 190px;
        height: 100%;
        // border-radius: 4px;
        font-size: var(--mainHeading-fontSize);
        font-weight: 700;
        line-height: 1.5;
        align-items: center;
        padding: 15px 9px;
        // border: 1px solid var(--navs-color);
      }
  }
}



.section-title-heading{
  .sec-after-before-heading{
    position: relative;
    display: inline-block;
    &::before{
      top: 2px;
      right: -37px;
      left: unset;
      position: absolute;
      content: "";
      height: 38px;
      width: 38px;
      background-image:url(../img/icon-right.png);
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    &::after{
      top: -25px;
    left: -36px;
      right: unset;
      position: absolute;
      content: "";
      height: 38px;
      width: 38px;
      background-image:url(../img/icon-left.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;

    }
    h3{
      font-size: var(--mainText-fontSize);
      color: var(--dark-color);
      font-weight: 700;
    }
  }

}



.section-title{
  .sec-after-before{
    position: relative;
    display: inline-block;
    &::before{
      position: absolute;
      content: "";
      // top: 7px;
      top: 45px;

    right: -50px;
        left: unset;
      height: 40px;
      width: 38px;
      background-image:url(../img/icon-right.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    &::after{
      position: absolute;
      content: "";
      top: -36px;
      left: -42px;
        right: unset;
      // height: 53px;
      // width: 43px;
      height: 40px;
      width: 38px;
      background-image:url(../img/icon-left.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    h3{
      font-size: var(--mainHeading-fontSize);
      color: var(--dark-color);
      font-weight: 700;
    }
  }

}


.section-title-banner{
  .sec-after-before-banner{
    position: relative;
    display: inline-block;
    &::before{
      position: absolute;
      content: "";
      top: 14px;
      right: -41px;
        left: unset;
      height: 40px;
      width: 38px;
      background-image:url(../img/icon-right.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    &::after{
      position: absolute;
      content: "";
      top: -20px;
      left: -42px;
      // top: 5px;
      // left: -37px;
        right: unset;
      // height: 53px;
      // width: 43px;
      height: 40px;
      width: 38px;
      background-image:url(../img/icon-left.png) ;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
    }
    h3{
      font-size: var(--mainHeading-fontSize);
      color: var(--dark-color);
      font-weight: 700;
    }
  }
}

// //   /*--------------------------------------------------------------
// //   # Icon Heading
// //   --------------------------------------------------------------*/


.navs-taps-custom{
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nav-tabs{
  .nav-item{
      margin-inline: 10px;
      height: 55px;
      a{
          &.nav-link{
              background-color: var(--white-color);
              border-radius: 8px;
              font-size: 15px;
              color: var(--navbar-color);
              font-weight: 500;
              height: 55px;
              border: 0;
              &.active{
                  // background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%) !important;
              background-color: var(--navs-color);
              color: #fff;
              font-size: 15px;
              svg{
                font-size: 20px;
                path{
                  fill: var(--white-color);
                }
                &.last-news{
                  path{
                    fill: transparent;
                    stroke: #fff;
              
                  }
                }
              }
              }
              svg{
                font-size: 20px;
                path{
                  fill: var(--navbar-color);
                }
                &.last-news{
                  path{
                    fill: transparent;
                
                  }
                }
              }
          }
          
      }
  }
}

// .box-container{
//   padding-inline: 60px;
// }

.fade:not(.show) {
  opacity: 0;
  display: none !important;
}

//calender
.calendar-sec-two{
  position: fixed;
  top: 70%;
  left: -14px;
  right: unset;
  .calendar-content {
    margin-inline-end: -80px;
    margin-top: -67px;
    .card-box-two{
      height: 180px;
    }
  }
}

.calendar-sec-one{
  position: fixed;
  top: 40%;
  left: 0;
  right: unset;
  .calendar-content {
    margin-inline-end: -69px;
    margin-top: -55px;
    .card-box-one{
      height: 155px;
      // margin-top: 7px;
    }
  }

}

.calendar-sec{
    margin-inline-end: 0;
    margin-inline-start: auto;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
    button{
      &.calendar-btn{
        background-color: var(--primary-color);
        transform: rotate(-90deg);
        height: 45px;
        // padding-block: 6px 10px;
        padding-inline: 20px;
        border-radius: 14px;
        color: #fff;
    // margin-inline-end: -35px;
    cursor: pointer;
    width: -moz-max-content;
    width: max-content;
    border: 0 !important;
    img{
      margin-inline-end: 7px;
      width: 25px;
    height: 25px;
    transform: rotate(90deg);
    }
      }
    }
    .calendar-content {
      max-width: 430px;
      transition: none !important;
      .card-body{
          .calendar-date{
            width: 100px;
            background-color: #f5f5f5;
            padding-top: 4px;
            text-align: center;
            border-radius: 5px;
            span{
              &.day-name{
                background-color: var(--green-color);
                text-align: center;
                color: #fff;
                border-radius: 17px;
                margin: 3px;
                height: 30px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            }
            span{
              &.day-month{
                margin-top: 5px;
                font-size: 14px;
                color: #4f4f4f;
                padding-block: 10px;
            }
            }
            span{
              &.specific-date{
                margin-top: auto;
                margin-bottom: 0;
                background-color: var(--icons-bg-color);
                color: var(--white-color);
                // height: 27px;
                font-size: 14px;
                padding-top: 2px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            }
        }
      }
  }
  .calendar-info{
    margin-inline-start: 20px;
    margin-top: 10px;
    margin-inline-end: 20px;
    h3{
      color: var(--dark-color);
      font-size: var(--btns-fontSize);
      font-weight: 500;
    }
    p{
      color: var(--navbar-color);
      font-size: var(--moreLink-fontSize);
      font-weight: 400;
      margin-block: 5px;
    }
    .more-calender{
      display: flex;
    align-items: baseline;
    justify-content: end;
    color: var(--primary-color);
    font-size: 18px;
    }
    
  }
}








