body {
  direction: rtl;
}

.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom:hover .sub-menu {
  display: block;
  position: absolute;
  display: block;
  width: 550px;
  background: var(--primary-color);
  top: 100%;
  border-radius: 4px;
  padding: 20px;
  left: 0px;
  right: unset;
  transition: var(--transition);
}

.hero .hero-bg {
  -webkit-clip-path: circle(105% at 100% 50%);
          clip-path: circle(105% at 100% 50%);
}
.hero .hero-bg:after {
  -webkit-clip-path: circle(105% at 100% 50%);
          clip-path: circle(105% at 100% 50%);
}
.hero .hero-bg .custom-container .box-content a svg.fa-arrow-right {
  transform: rotate(-180deg);
}
.hero .wrapper-cards .card-box.first-card {
  left: 130px;
  right: unset;
  top: 25px;
}
.hero .wrapper-cards .card-box.sec-card {
  top: -37px;
  left: -25px;
  right: unset;
}
.hero .wrapper-cards .card-box.third-card {
  top: -135px;
  left: 25px;
  right: unset;
}

.services .sec-bg .serv-content a svg.fa-arrow-right {
  transform: rotate(-180deg);
}

.statistics .statistics-cards {
  position: relative;
}
.statistics .statistics-cards .card-box-bottom {
  position: absolute;
  top: 105px;
  left: -65px;
  text-align: center;
  width: 250px;
  height: 270px;
  overflow: hidden;
  border-radius: 30px;
}

.news {
  background-image: url(../img/Rectangle109.png);
  width: 101%;
}
.news .news-bg {
  padding-bottom: 70px;
  background-image: url(../img/news-bg.png);
  background-position: bottom;
  background-size: cover;
}
.news .news-bg a svg.fa-arrow-right {
  transform: rotate(-180deg);
}

.footer .bg-footer .footer-right-side {
  border-bottom: 1px dashed #333;
  border-right: 1px dashed #333;
  border-left: 0px dashed #333;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
}

.input-group {
  margin: 10px 0px;
}
.input-group input.form-control {
  height: 45px;
  border-radius: 30px;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border: transparent;
}
.input-group button.subscribe-now {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0;
  height: 45px;
  text-align: center;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  padding-inline: 25px;
  border-radius: 30px;
  position: absolute;
  z-index: 999;
  right: unset;
  left: 0;
}

.section-title-heading .sec-after-before-heading::before {
  top: -25px;
  right: -32px;
  left: unset;
}
.section-title-heading .sec-after-before-heading::after {
  top: -2px;
  left: -36px;
  right: unset;
}

.section-title .sec-after-before::before {
  top: -30px;
  right: -35px;
  left: unset;
}
.section-title .sec-after-before::after {
  top: 45px;
  left: -42px;
  right: unset;
}

.section-title-banner .sec-after-before-banner::before {
  top: -30px;
  right: -30px;
  left: unset;
}
.section-title-banner .sec-after-before-banner::after {
  top: 5px;
  left: -37px;
  right: unset;
}

@media (max-width: 767px) {
  .hero .hero-bg {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .hero .hero-bg::after {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .hero .hero-bg .video-bg img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-bg .custom-container .box-content {
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
  }
  .hero .hero-bg .custom-container .box-content .custon-banner-title {
    margin-inline-start: 0px;
  }
  .hero .wrapper-cards {
    position: initial;
    transform: none;
    display: block;
    width: 100%;
  }
  .hero .wrapper-cards .card-box {
    position: relative;
  }
  .hero .wrapper-cards .card-box.first-card {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    width: 100%;
    margin: auto;
  }
  .hero .wrapper-cards .card-box.first-card:after {
    width: 100%;
  }
  .hero .wrapper-cards .card-box.sec-card {
    left: unset;
    right: unset;
    top: unset;
    width: 100%;
    margin: 15px auto;
  }
  .hero .wrapper-cards .card-box.sec-card:after {
    width: 100%;
  }
  .hero .wrapper-cards .card-box.third-card {
    left: unset;
    right: unset;
    top: unset;
    width: 100%;
    margin: auto;
  }
  .hero .wrapper-cards .card-box.third-card:after {
    width: 100%;
  }
  .hero .wrapper-cards .card-box .img-card img {
    width: 100%;
  }
  .statistics .statistics-cards .card-box-bottom {
    left: -35px;
  }
  .statistics .statistics-content {
    margin-inline-start: 0px;
    margin-top: 70px;
  }
  .footer .bg-footer .footer-left-side .box-social .bottom-sec {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer .bg-footer .footer-left-side .box-social .bottom-sec a {
    margin-inline: 10px;
  }
}/*# sourceMappingURL=main-rtl.css.map */