
body {
  direction: rtl;
}


// //   /*--------------------------------------------------------------
// //   # Start Header
// //   --------------------------------------------------------------*/
.heading{
  .top-heading{
  .top-links{
      .dropdown{
          ul{
              &.custom-drob{
                  li{
                      
                      &.li-custom{
                        
                          &:hover{
                              .sub-menu{
                                  display: block;
                                  position: absolute;
                                  display: block;
                                  width: fit-content;
                                  background: var(--primary-color);
                                  top: 100%;
                                  border-radius: 4px;
                                  padding: 20px;
                                  left: 0px;
                                  right: unset;
                                  transition: var(--transition);
                              }
                          }
                      }
                  }
              }
          }
      }
    }
  }

}
// //   /*--------------------------------------------------------------
// //   # End Header
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Hero
// //   --------------------------------------------------------------*/
.hero{
  // height: 100vh;
  .hero-bg{
      clip-path: circle(105% at 100% 50%);
      &:after{
        clip-path: circle(105% at 100% 50%);
      }
      .custom-container {
        .box-content{
         a{
          svg{
              &.fa-arrow-right{
                  transform: rotate(-180deg);
              }
          }
      }
        }
    }
    }
    .wrapper-cards{
      .card-box{
          &.first-card{
              left: 130px;
              right: unset;
              top: 25px;
            
          }
          &.sec-card{
              top: -37px;
              left: -25px;
              right: unset;
          }
          &.third-card{
              top: -135px;
              left: 25px;
              right: unset;
          
          }
        
      }
    }
}
// //   /*--------------------------------------------------------------
// //   # End Hero
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Services Section
// //   --------------------------------------------------------------*/
.services{
  .sec-bg{
  .serv-content{
    a{
      svg{
          &.fa-arrow-right{
              transform: rotate(-180deg);
          }
      }
  }
  }
  }
}
// //   /*--------------------------------------------------------------
// //   # End Services Section
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Statistics
// //   --------------------------------------------------------------*/

.statistics{
.statistics-cards{
  position: relative;
  .card-box-bottom{
      position: absolute;
      top: 105px;
      left: -65px;
      text-align: center; 
      width: 250px;
      height: 270px;
      overflow: hidden;
      border-radius: 30px;
     
  }
}
 

}
// //   /*--------------------------------------------------------------
// //   # End Statistics
// //   --------------------------------------------------------------*/


// //   /*--------------------------------------------------------------
// //   # Start Our News Section
// //   --------------------------------------------------------------*/
.news{
  background-image: url(../img/Rectangle109.png);
  width: 101%;
  .news-bg{
  padding-bottom: 70px;
  background-image: url(../img/news-bg.png);
  background-position: bottom;
  background-size: cover;
  a{
    svg{
        &.fa-arrow-right{
            transform: rotate(-180deg);
        }
    }
}
  }
}
// //   /*--------------------------------------------------------------
// //   # End Our News Section
// //   --------------------------------------------------------------*/

// //   /*--------------------------------------------------------------
// //   # Start Footer Section
// //   --------------------------------------------------------------*/

.footer{
  .bg-footer{
    .footer-right-side{
      border-bottom: 1px dashed #333;
      border-right: 1px dashed #333;
      border-left: 0px dashed #333;
      border-bottom-left-radius: 0px;
      // border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}

.input-group{
  margin: 10px 0px;
  input{
    &.form-control{
      height: 45px;
      border-radius: 30px;
      border-top-left-radius: 30px !important;
      border-bottom-left-radius: 30px !important;            
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 30px !important;
      border: transparent;
    }
  }
  button{
    &.subscribe-now{
      background-color: var(--primary-color);
        border: none;
          color: #fff;
          padding: 0;
          height: 45px;
          text-align: center;
          border-top-left-radius: 30px !important;
          border-bottom-left-radius: 30px !important;
          padding-inline: 25px;
          border-radius: 30px;
          // margin-inline-start: -50px;
          position: absolute;
          z-index: 999;
          right: unset;
          left: 0;
      }
  }

}

// //   /*--------------------------------------------------------------
// //   # End Footer Section
// //   --------------------------------------------------------------*/




.section-title-heading{
  .sec-after-before-heading{
    &::before{
      top: -25px;
      right: -32px;
      left: unset;
    }
    &::after{
      top: -2px;
    left: -36px;
      right: unset;
    }
  }

}


.section-title{
  .sec-after-before{
    &::before{
      top: -30px;
      right: -35px;
      left: unset;
    }
    &::after{
      // top: -6px;
    top: 45px;
    left: -42px;
      right: unset;

    }
  }
}


.section-title-banner{
  .sec-after-before-banner{
    &::before{
      top: -30px;
      right: -30px;
        left: unset;
    }
    &::after{
      top: 5px;
      left: -37px;
        right: unset;

    }
  }

}



@media(max-width:767px){
  .hero{
    .hero-bg{
        clip-path: none;
        &::after{
          clip-path: none;
        }
        .video-bg{
          img {
            object-fit: cover;
      }
    }
    .custom-container{
      .box-content{
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(0, 50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0;
        .custon-banner-title {
         margin-inline-start: 0px; 
      }
    }
    }

        }
        .wrapper-cards {
          position: initial;
          transform: none;
          display: block;
    width: 100%;
          .card-box{
              position: relative;
              &.first-card{
                  position: relative;
                  left: unset;
                  right: unset;
                  top: unset;
                  width: 100%;
                  margin: auto;
                  &:after{
                    width: 100%;
                    }
              }
              &.sec-card{
                left: unset;
                right: unset;
                top: unset;
                width: 100%;
                margin: 15px auto;
                &:after{
                  width: 100%;
                  }
              }
              &.third-card{
                left: unset;
                right: unset;
                top: unset;
                width: 100%;
                margin: auto;
                &:after{
                width: 100%;
                }
              }
              .img-card{
                img{
                    width: 100%;
                }
              }
             
          }

      }

}
.statistics{
  .statistics-cards{
    .card-box-bottom {
      left: -35px;
    }
  }
  .statistics-content {
    margin-inline-start: 0px;
    margin-top: 70px;
}
}

.footer .bg-footer .footer-left-side .box-social .bottom-sec {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  a{
    margin-inline: 10px;
  }
}

}

