:root {
  --primary-color:#052976;
  --secondary-color:#2633FF;
  --third-color: #9EA4FF;
  --forth-color: #3E1394;
  --green-color: #20CC76;
  --white-green-color: #4CC4FF;
  --navs-color: #8142FF;
  --icons-bg-color: #515BFF;
  --dark-color:#000000;
  --white-color:#ffffff;
  --navbar-color:#333333;
  --gray-color:#707070;
  --text-gray-color:#595959;
  --sec-gray-color:#969696;
  --third-gray-color:#B3B3B3;
  --transition: all 0.3s ease-in-out;
  --border-color:#DCDCDC;
  --mainHeading-fontSize:30px;
  --serv-card-heading:25px;
  --mainText-fontSize:20px;
  --moreLink-fontSize:13px;
  --navbar-fontSize:14px;
  --btns-fontSize:15px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR+LT-Light.otf);
  font-weight: 300; /* Light */
}
@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR+LT-Regular.otf);
  font-weight: 400; /* Regular */
}
@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR+LT-Medium.otf);
  font-weight: 500; /* Normal */
}
@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR+LT-Bold.otf);
  font-weight: 600; /* Bold */
}
@font-face {
  font-family: PingAR;
  src: url(../Main-font/Font/PingAR+LT-Heavy.otf);
  font-weight: 700; /* Heavy */
}
body {
  overflow-x: hidden;
  font-family: PingAR;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  border-radius: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

a {
  transition: all 0.8s;
  text-decoration: none;
  box-shadow: none !important;
}

a:hover {
  transition: all 0.8s;
}

ul {
  list-style: none;
}

ul, p {
  padding: 0px;
  margin: 0px;
}

input:focus-visible {
  outline: none;
}

p.desc {
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-color);
  padding: 20px 0px;
}

.main-heading {
  margin-top: 20px;
}
.main-heading h2.title {
  width: 190px;
  height: 100%;
  font-size: var(--mainHeading-fontSize);
  font-weight: 700;
  line-height: 1.5;
  align-items: center;
  padding: 15px 9px;
}

.section-title-heading .sec-after-before-heading {
  position: relative;
  display: inline-block;
}
.section-title-heading .sec-after-before-heading::before {
  top: 2px;
  right: -37px;
  left: unset;
  position: absolute;
  content: "";
  height: 38px;
  width: 38px;
  background-image: url(../img/icon-right.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.section-title-heading .sec-after-before-heading::after {
  top: -25px;
  left: -36px;
  right: unset;
  position: absolute;
  content: "";
  height: 38px;
  width: 38px;
  background-image: url(../img/icon-left.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.section-title-heading .sec-after-before-heading h3 {
  font-size: var(--mainText-fontSize);
  color: var(--dark-color);
  font-weight: 700;
}

.section-title .sec-after-before {
  position: relative;
  display: inline-block;
}
.section-title .sec-after-before::before {
  position: absolute;
  content: "";
  top: 45px;
  right: -50px;
  left: unset;
  height: 40px;
  width: 38px;
  background-image: url(../img/icon-right.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.section-title .sec-after-before::after {
  position: absolute;
  content: "";
  top: -36px;
  left: -42px;
  right: unset;
  height: 40px;
  width: 38px;
  background-image: url(../img/icon-left.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.section-title .sec-after-before h3 {
  font-size: var(--mainHeading-fontSize);
  color: var(--dark-color);
  font-weight: 700;
}

.section-title-banner .sec-after-before-banner {
  position: relative;
  display: inline-block;
}
.section-title-banner .sec-after-before-banner::before {
  position: absolute;
  content: "";
  top: 14px;
  right: -41px;
  left: unset;
  height: 40px;
  width: 38px;
  background-image: url(../img/icon-right.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.section-title-banner .sec-after-before-banner::after {
  position: absolute;
  content: "";
  top: -20px;
  left: -42px;
  right: unset;
  height: 40px;
  width: 38px;
  background-image: url(../img/icon-left.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}
.section-title-banner .sec-after-before-banner h3 {
  font-size: var(--mainHeading-fontSize);
  color: var(--dark-color);
  font-weight: 700;
}

.navs-taps-custom {
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tabs .nav-item {
  margin-inline: 10px;
}
.nav-tabs .nav-item a.nav-link {
  background-color: var(--white-color);
  border-radius: 8px;
  font-size: 15px;
  color: var(--navbar-color);
  font-weight: 500;
}
.nav-tabs .nav-item a.nav-link.active {
  background-color: var(--navs-color);
  color: #fff;
  font-size: 15px;
}
.nav-tabs .nav-item a.nav-link.active svg {
  font-size: 20px;
}
.nav-tabs .nav-item a.nav-link.active svg path {
  fill: var(--white-color);
}
.nav-tabs .nav-item a.nav-link.active svg.last-news path {
  fill: transparent;
  stroke: #fff;
}
.nav-tabs .nav-item a.nav-link svg {
  font-size: 20px;
}
.nav-tabs .nav-item a.nav-link svg path {
  fill: var(--navbar-color);
}
.nav-tabs .nav-item a.nav-link svg.last-news path {
  fill: transparent;
}

.box-container {
  padding-inline: 60px;
}

.fade:not(.show) {
  opacity: 0;
  display: none !important;
}

a.primary-btn {
  background-color: var(--secondary-color);
  font-size: var(--btns-fontSize);
  color: var(--white-color);
  font-weight: 700;
  padding: 10px 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
a.primary-btn svg.fa-arrow-right {
  font-size: var(--mainText-fontSize);
  color: var(--white-color);
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

a.secondary-btn {
  background-color: var(--primary-color);
  font-size: var(--btns-fontSize);
  color: var(--white-color);
  font-weight: 700;
  padding: 10px 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}
a.secondary-btn svg.fa-arrow-right {
  font-size: var(--mainText-fontSize);
  color: var(--white-color);
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

.heading {
  width: 100%;
  height: 100px;
  transition: var(--transition);
}
.heading .top-heading {
  background-color: var(--primary-color);
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 50px;
  padding-inline-end: 30px;
}
.heading .top-heading .top-links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.heading .top-heading .top-links .dropdown {
  background-color: var(--third-color);
  color: var(--white-color);
  border-radius: 8px;
}
.heading .top-heading .top-links .dropdown .btn {
  color: var(--white-color);
  padding: 5px 8px;
  box-shadow: none;
  font-size: 13px;
  font-weight: 400;
  margin-top: 1px;
}
.heading .top-heading .top-links .dropdown ul.custom-drob {
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: start;
}
.heading .top-heading .top-links .dropdown ul.custom-drob .dropdown-item:focus, .heading .top-heading .top-links .dropdown ul.custom-drob .dropdown-item:hover {
  color: var(--white-color);
  background-color: transparent;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 8px;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li a.dropdown-item {
  color: var(--white-color);
  font-size: 14px;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom {
  position: relative;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom .sub-menu {
  display: none;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom .sub-menu ul li {
  margin: 5px;
  background-color: var(--forth-color);
  padding: 8px;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom .sub-menu ul li a {
  color: var(--white-color);
  font-size: var(--moreLink-fontSize);
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom .sub-menu .bottom-sec {
  border: 1px dashed var(--white-color);
  border-radius: 8px;
  padding: 10px;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom .sub-menu .bottom-sec ul li {
  margin: 5px;
  background-color: var(--white-color);
  padding: 8px;
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom .sub-menu .bottom-sec ul li a {
  color: var(--forth-color);
  font-size: var(--moreLink-fontSize);
}
.heading .top-heading .top-links .dropdown ul.custom-drob li.li-custom:hover .sub-menu {
  display: block;
  position: absolute;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--primary-color);
  top: 100%;
  border-radius: 4px;
  padding: 20px;
  left: unset;
  right: 0;
  transition: var(--transition);
}
.heading .top-heading .top-links .serv-link {
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.heading .top-heading .top-links .serv-link a {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 400;
  color: var(--white-color);
  margin-top: 1px;
}
.heading .top-heading .top-links .search-icon {
  background-color: var(--third-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /* padding: 16px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 17px;
}
.heading .top-heading .top-links .search-icon .fa-search {
  width: 25px;
  height: 22px;
  font-size: 30px;
  color: var(--white-color);
}
.heading .top-heading .top-links .globel-icon {
  background-color: var(--third-color);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /* padding: 16px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading .top-heading .top-links .globel-icon img {
  width: 19px;
  height: 19px;
}
.heading .top-heading .bottom-links {
  display: flex;
  align-items: center;
  gap: 6px;
}
.heading .top-heading .bottom-links .teaching-staff {
  background-color: var(--third-color);
  color: var(--white-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.heading .top-heading .bottom-links .teaching-staff a {
  padding: 6px 8px 5px;
  color: var(--white-color);
  font-size: var(--moreLink-fontSize);
  margin-top: 2px;
}
.heading .bottom-heading .navbar {
  border-radius: 50px;
  top: -12px;
  background: var(--white-color);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.heading .bottom-heading .navbar .navbar-brand img {
  width: 190px;
  height: 65px;
}
.heading .bottom-heading .navbar .navbar-nav .nav-item .nav-link {
  color: var(--navbar-color);
  font-size: var(--navbar-fontSize);
  font-weight: 400;
  position: relative;
}
.heading .bottom-heading .navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
}
.heading .bottom-heading .navbar .navbar-nav .nav-item .nav-link.active::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--green-color);
  bottom: 4px;
}

.heading .bottom-heading .navbar.scrolled {
  border-radius: 0px;
  top: 0px;
  width: 100%;
  transition: var(--transition);
}

.hero {
  height: calc(100vh - 100px);
}
.hero .hero-bg {
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow: hidden;
  -webkit-clip-path: circle(105% at 0 50%);
          clip-path: circle(105% at 0 50%);
}
.hero .hero-bg:after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--primary-color);
  opacity: 0.8;
  -webkit-clip-path: circle(105% at 0 50%);
          clip-path: circle(105% at 0 50%);
}
.hero .hero-bg .video-bg img {
  width: 100%;
  height: calc(100vh - 100px);
  position: absolute;
  left: 0;
  right: 0;
}
.hero .hero-bg .custom-container {
  display: flex;
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  justify-content: start;
  align-items: center;
}
.hero .hero-bg .custom-container .box-content {
  padding-inline-start: 90px;
}
.hero .hero-bg .custom-container .box-content .custon-banner-title {
  margin-inline-start: -90px;
}
.hero .hero-bg .custom-container .box-content h2 {
  color: var(--white-color);
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
.hero .hero-bg .custom-container .box-content p {
  color: var(--white-color);
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
}
.hero .wrapper-cards {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.hero .wrapper-cards .card-box {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 30px;
}
.hero .wrapper-cards .card-box.first-card {
  position: relative;
  left: unset;
  right: 130px;
  top: 25px;
}
.hero .wrapper-cards .card-box.first-card:after {
  background: var(--third-color);
}
.hero .wrapper-cards .card-box.sec-card {
  z-index: -9;
  position: relative;
  top: -37px;
  left: unset;
  right: -25px;
}
.hero .wrapper-cards .card-box.sec-card:after {
  background: var(--green-color);
}
.hero .wrapper-cards .card-box.third-card {
  position: relative;
  top: -135px;
  left: unset;
  right: 25px;
}
.hero .wrapper-cards .card-box.third-card:after {
  background: var(--secondary-color);
}
.hero .wrapper-cards .card-box:after {
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--third-color);
  opacity: 0.8;
}
.hero .wrapper-cards .card-box .img-card img {
  width: 180px;
  height: 180px;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  left: 0;
  right: 0;
}
.hero .wrapper-cards .card-box .content {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 0px 5px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .wrapper-cards .card-box .content img {
  width: 25px;
  height: 25px;
}
.hero .wrapper-cards .card-box .content h3 {
  font-size: var(--navbar-fontSize);
  color: var(--white-color);
  margin: 10px 0px;
  font-weight: 700;
}
.hero .wrapper-cards .card-box .content p {
  font-size: var(--moreLink-fontSize);
  color: var(--white-color);
  font-weight: 400;
}

.services {
  margin-top: 100px;
  background-image: url(../img/Rectangle109.png);
  width: 100%;
}
.services .sec-bg {
  padding-bottom: 50px;
  background-image: url(../img/Vector14.png);
  background-position: bottom;
  background-size: cover;
}
.services .sec-bg .card-box {
  position: relative;
  text-align: center;
  width: 280px;
  height: 300px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}
.services .sec-bg .card-box:after {
  content: "";
  width: 300px;
  height: 370px;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--white-color);
  opacity: 0.95;
  background-color: rgba(255, 255, 255, 0.95);
}
.services .sec-bg .card-box .img-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  left: 0;
  right: 0;
}
.services .sec-bg .card-box .content {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 0px 5px;
  color: #fff;
  top: 50%;
  transform: translateY(60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .sec-bg .card-box .content .img-box {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* padding: 16px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .sec-bg .card-box .content .img-box img {
  width: 25px;
  height: 25px;
}
.services .sec-bg .card-box .content h3 {
  font-size: var(--serv-card-heading);
  color: var(--dark-color);
  margin-inline-start: 5px;
  font-weight: 700;
}
.services .sec-bg .card-box .content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-color);
  margin-top: 8px;
  text-align: start;
  line-height: 1.67;
}

.col-top {
  margin-top: -25px;
}

.statistics {
  background-image: url(../img/statistics-bg.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 101%;
  height: 650px;
  padding: 60px;
}
.statistics .statistics-content {
  margin-inline-start: 60px;
}
.statistics .statistics-cards {
  position: relative;
}
.statistics .statistics-cards .card-box-top {
  position: relative;
  text-align: center;
  width: 100%;
  height: 340px;
  overflow: hidden;
  border-radius: 30px;
}
.statistics .statistics-cards .card-box-top:after {
  content: "";
  width: 100%;
  height: 340px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: var(--forth-color);
  opacity: 0.85;
}
.statistics .statistics-cards .card-box-top .img-card img {
  width: 100%;
  height: 340px;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  left: 0;
  right: 0;
}
.statistics .statistics-cards .card-box-bottom {
  position: absolute;
  top: 105px;
  left: 85px;
  text-align: center;
  width: 250px;
  height: 270px;
  overflow: hidden;
  border-radius: 30px;
}
.statistics .statistics-cards .card-box-bottom:after {
  content: "";
  width: 100%;
  height: 340px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%) !important;
  opacity: 0.85;
}
.statistics .statistics-cards .card-box-bottom .img-card img {
  width: 100%;
  height: 340px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
}
.statistics .statistics-sec {
  background-image: url(../img/Group408.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 760px;
  height: 600px;
  margin: 40px auto;
  margin-inline-start: 80px;
  position: relative;
}
.statistics .statistics-sec .statistics-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics .statistics-sec .statistics-card .container-icon {
  background-color: var(--third-color);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  /* padding: 16px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.statistics .statistics-sec .statistics-card .container-icon img {
  width: 34px;
  height: 30px;
}
.statistics .statistics-sec .statistics-card h3 {
  margin-top: 15px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  text-align: center;
}
.statistics .statistics-sec .statistics-card p {
  text-align: center;
  font-size: 17px;
  color: #000;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.statistics .statistics-sec .statistics-card-one {
  position: absolute;
  left: unset;
  right: -25px;
}
.statistics .statistics-sec .statistics-card-two {
  position: absolute;
  left: unset;
  right: 86px;
  top: 132px;
}
.statistics .statistics-sec .statistics-card-two .container-icon {
  background-color: var(--icons-bg-color);
}
.statistics .statistics-sec .statistics-card-three {
  position: absolute;
  left: unset;
  right: 310px;
  top: 81px;
}
.statistics .statistics-sec .statistics-card-four {
  position: absolute;
  left: 125px;
  right: unset;
  top: -37px;
}
.statistics .statistics-sec .statistics-card-four .container-icon {
  background-color: var(--icons-bg-color);
}
.statistics .statistics-sec .statistics-card-five {
  position: absolute;
  left: -45px;
  right: unset;
  top: 95px;
}
.statistics .statistics-sec .statistics-card-six {
  position: absolute;
  left: 128px;
  right: unset;
  top: 228px;
}
.statistics .statistics-sec .statistics-card-six .container-icon {
  background-color: var(--icons-bg-color);
}

.news {
  background-image: url(../img/Rectangle109.png);
  width: 101%;
}
.news .news-bg {
  padding-bottom: 70px;
  background-image: url(../img/news-bg.png);
  background-position: bottom;
  background-size: cover;
}

#mySwiper {
  margin-top: 70px;
}
#mySwiper .box-swiper .card-box {
  position: relative;
  text-align: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
}
#mySwiper .box-swiper .card-box:after {
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
}
#mySwiper .box-swiper .card-box .img-card img {
  width: 100%;
  height: 400px;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  left: 0;
  right: 0;
}
#mySwiper .box-swiper .card-box .content {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 0px 5px;
  color: #fff;
  top: 55%;
  transform: translateY(100%);
}
#mySwiper .box-swiper .card-box .content .img-box {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* padding: 16px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mySwiper .box-swiper .card-box .content .img-box img {
  width: 20px;
  height: 20px;
}
#mySwiper .box-swiper .card-box .content h3 {
  font-size: var(--serv-card-heading);
  color: var(--dark-color);
  margin-inline-start: 5px;
  font-weight: 700;
}
#mySwiper .box-swiper .card-box .content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-color);
  margin-top: 8px;
  line-height: 1.67;
}

.swiper-pagination {
  position: relative;
  margin-top: 1rem;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 10px;
  border-radius: 10px;
  background: var(--third-color);
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
  width: 50px;
  height: 10px;
  border-radius: 10px;
}

.swiper-slide {
  transition: filter 0.3s ease;
  width: 140px !important;
}
.swiper-slide .card-box:after {
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to left, #8142FF 0%, #4CC4FF 100%);
  opacity: 0.3;
}
.swiper-slide .card-box .content {
  display: none;
}

.swiper-slide-active {
  transition: transform 0.3s ease, filter 0.3s ease;
  width: 260px !important;
}
.swiper-slide-active .card-box:after {
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
  opacity: 0.9;
}
.swiper-slide-active .card-box .content {
  display: block;
  text-align: center;
}

.evaluation {
  padding: 50px 0px;
  background-color: var(--primary-color);
  width: 101%;
  display: flex;
  justify-content: center;
}
.evaluation .evaluation-btns {
  display: flex;
  justify-content: center;
  margin-inline-start: 70px;
}
.evaluation .evaluation-btns .btn-box .btn-ev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--white-color);
  margin-inline: 5px;
}
.evaluation .evaluation-btns .btn-box .btn-ev:nth-child(1) {
  border: 1px solid var(--white-color);
}
.evaluation .evaluation-btns .btn-box .btn-ev:nth-child(2) {
  border: 1px solid var(--third-color);
}
.evaluation .evaluation-btns .btn-box .btn-ev:nth-child(3) {
  border: 1px solid var(--green-color);
}
.evaluation .evaluation-btns .btn-box .btn-ev:nth-child(4) {
  border: 1px solid var(--white-green-color);
}
.evaluation .evaluation-btns .btn-box .btn-ev.active {
  border: 1px solid var(--third-color);
  background-color: var(--third-color);
}

/*--------------------------------------------------------------
# Start Footer Section
--------------------------------------------------------------*/
.footer {
  background-image: url(../img/Rectangle109.png);
  width: 101%;
}
.footer .bg-footer {
  background-image: url(../img/footer-bg.png);
  background-position: bottom;
  background-size: cover;
}
.footer .bg-footer .footer-right-side {
  border-left: 1px dashed #333;
  border-bottom: 1px dashed #333;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
  padding: 20px;
}
.footer .bg-footer .footer-right-side .first-box {
  width: 400px;
}
.footer .bg-footer .footer-right-side .first-box img {
  width: 205px;
  height: 77px;
}
.footer .bg-footer .footer-right-side .first-box p {
  font-size: 18px;
  font-weight: 400;
  color: var(--navbar-color);
  margin: 16px 0px;
}
.footer .bg-footer .footer-right-side .sec-box {
  width: 140px;
  margin-inline: 10px;
}
.footer .bg-footer .footer-right-side .sec-box .item-bold {
  position: relative;
}
.footer .bg-footer .footer-right-side .sec-box .item-bold a {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-color);
  display: block;
  margin-bottom: 25px;
}
.footer .bg-footer .footer-right-side .sec-box .item-bold a::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--dark-color);
  bottom: -5px;
}
.footer .bg-footer .footer-right-side .sec-box .item a {
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-color);
  display: block;
  margin-bottom: 10px;
}
.footer .bg-footer .footer-left-side {
  background-color: var(--primary-color);
  padding: 0px;
}
.footer .bg-footer .footer-left-side .box-social .special-person {
  display: flex;
  align-items: center;
  margin: 80px 5px 0;
}
.footer .bg-footer .footer-left-side .box-social .special-person .img-box {
  padding: 20px 12px;
  background-color: var(--third-color);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .bg-footer .footer-left-side .box-social .special-person .img-box img {
  width: 25px;
  height: 25px;
}
.footer .bg-footer .footer-left-side .box-social .special-person .text {
  border: 1px solid var(--third-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-block: 6px;
}
.footer .bg-footer .footer-left-side .box-social .special-person .text p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.footer .bg-footer .footer-left-side .box-social .special-person .text p .aamer {
  color: var(--green-color);
}
.footer .bg-footer .footer-left-side .box-social .social-icons {
  margin: 20px 5px 10px;
}
.footer .bg-footer .footer-left-side .box-social .social-icons a {
  position: relative;
}
.footer .bg-footer .footer-left-side .box-social .social-icons a.socila-media {
  font-size: 15px;
  font-weight: 700;
  color: var(--white-color);
  margin: 50px 0 20px;
  display: block;
  width: 62px;
}
.footer .bg-footer .footer-left-side .box-social .social-icons a.socila-media::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--white-color);
  bottom: -5px;
}
.footer .bg-footer .footer-left-side .box-social .icons {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.footer .bg-footer .footer-left-side .box-social .icons img {
  width: 23px;
  height: 23px;
}
.footer .bg-footer .footer-left-side .box-social .bottom-sec {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0px 0px;
}
.footer .bg-footer .copy-write p {
  font-size: 16px;
  color: var(--dark-color);
  font-weight: 400;
  text-align: center;
  padding: 20px 0px;
}

/*--------------------------------------------------------------
  # End Footer Section
--------------------------------------------------------------*/
.input-group {
  margin: 10px 0px;
}
.input-group input.form-control {
  height: 45px;
  border-radius: 30px;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  border: transparent;
}
.input-group button.subscribe-now {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0;
  height: 45px;
  text-align: center;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  padding-inline: 25px;
  border-radius: 30px;
  position: absolute;
  z-index: 9999;
  right: 0;
  left: unset;
}

@media (max-width: 767px) {
  .heading .top-heading {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
  }
  .heading .top-heading .top-links {
    gap: 4px;
    margin-top: 10px;
  }
  .heading .top-heading .top-links .serv-link a {
    padding: 5px 4px;
    font-size: 12px;
  }
  .heading .top-heading .top-links .search-icon {
    background-color: var(--third-color);
    width: 33px;
    height: 33px;
    font-size: 15px;
  }
  .heading .top-heading .top-links .globel-icon {
    width: 36px;
    height: 36px;
  }
  .heading .top-heading .top-links .globel-icon img {
    width: 17px;
    height: 17px;
  }
  .heading .top-heading .bottom-links {
    gap: 4px;
  }
  .heading .top-heading .bottom-links .teaching-staff a {
    padding: 6px 4px 5px;
    font-size: 12px;
  }
  .heading .bottom-heading .navbar {
    border-radius: 0;
    top: 0px;
    width: 100%;
    margin: auto;
  }
  .hero {
    height: auto;
  }
  .hero .hero-bg {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .hero .wrapper-cards {
    position: initial;
    transform: none;
  }
  .hero .wrapper-cards .card-box {
    position: relative;
  }
  .hero .wrapper-cards .card-box.first-card {
    position: relative;
    left: unset;
    right: 130px;
    top: 25px;
  }
  .hero .wrapper-cards .card-box.sec-card {
    z-index: -9;
    position: relative;
    top: -37px;
    left: unset;
    right: -25px;
  }
  .hero .wrapper-cards .card-box.third-card {
    position: relative;
    top: -135px;
    left: unset;
    right: 25px;
  }
  .services .sec-bg .card-box {
    margin: auto;
  }
  .main-heading h2.title {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
  .navs-taps-custom {
    margin-top: 0px;
    gap: 15px 0px;
  }
  .serv-content {
    margin-top: 50px;
  }
  .section-title {
    text-align: center;
  }
  .section-title .sec-after-before h3 {
    font-size: 20px;
    text-align: start;
  }
  .section-title-banner .sec-after-before-banner h3 {
    font-size: 20px;
  }
  .statistics {
    height: auto;
  }
  .statistics .statistics-sec {
    background-image: none;
    width: 100%;
    margin-inline-start: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .statistics .statistics-sec .statistics-card-one {
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .statistics .statistics-sec .statistics-card-two {
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .statistics .statistics-sec .statistics-card-two .container-icon {
    background-color: var(--icons-bg-color);
  }
  .statistics .statistics-sec .statistics-card-three {
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .statistics .statistics-sec .statistics-card-four {
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .statistics .statistics-sec .statistics-card-four .container-icon {
    background-color: var(--icons-bg-color);
  }
  .statistics .statistics-sec .statistics-card-five {
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .statistics .statistics-sec .statistics-card-six {
    position: initial;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .statistics .statistics-sec .statistics-card-six .container-icon {
    background-color: var(--icons-bg-color);
  }
  .evaluation .evaluation-btns {
    margin-inline-start: 0px;
    margin-top: 30px;
  }
  .footer .bg-footer .footer-right-side .first-box {
    width: 100%;
  }
  .footer .bg-footer .footer-left-side .box-social .special-person {
    margin-inline-start: 20px;
  }
  .footer .bg-footer .footer-left-side .box-social .special-person .text {
    padding-block: 15px;
    padding-inline: 10px;
  }
  .footer .bg-footer .footer-left-side .box-social .social-icons {
    padding-inline-start: 20px;
  }
  .footer .bg-footer .footer-left-side .box-social .social-icons a.socila-media {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .bg-footer .footer-left-side .box-social .icons {
    justify-content: center;
  }
  .footer .bg-footer .footer-left-side .box-social .icons .item {
    margin-inline: 5px;
  }
  .footer .bg-footer .footer-left-side .box-social .icons .footer .bg-footer .footer-left-side .box-social .bottom-sec {
    justify-content: center;
  }
  p.desc {
    font-size: 15px;
    padding: 30px 0px;
  }
  .col-top {
    margin-top: 25px;
  }
}/*# sourceMappingURL=main.css.map */