

a{
    &.primary-btn{
        background-color: var(--secondary-color);
        font-size: var(--btns-fontSize);
        color: var(--white-color);
        font-weight: 700;
        padding: 10px 15px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 8px;
        svg{
            &.fa-arrow-right{
                font-size: var(--mainText-fontSize);
                color: var(--white-color);  
                margin-inline-start: 5px;
                margin-inline-end: 5px;
                // transform: rotate(180deg);
            }
        }
    }
}

a{
    &.secondary-btn{
        background-color: var(--primary-color);
        font-size: var(--btns-fontSize);
        color: var(--white-color);
        font-weight: 700;
        padding: 10px 15px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 8px;
        svg{
            &.fa-arrow-right{
                font-size: var(--mainText-fontSize);
                color: var(--white-color);  
                margin-inline-start: 5px;
                margin-inline-end: 5px;
            }
        }
    }
}








