


/*--------------------------------------------------------------
# Start Footer Section
--------------------------------------------------------------*/

.footer{
  background-image: url(../img/Rectangle109.png);
  width: 101%;
  .bg-footer{
    background-image: url(../img/footer-bg.png);
    background-position: bottom;
    background-size: cover;
    .footer-right-side{
      border-left: 1px dashed #333;
      border-bottom: 1px dashed #333;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 0px;
      padding: 50px 20px 0px;
      // height: 260px;
      .first-box{
        width: 400px;
        // background-color: red;
          img{
            width: 205px;
            height: 77px;
        }
        p{
          font-size: 18px;
          font-weight: 400;
          color: var(--navbar-color);
          // margin: 16px 0px;
          padding: 20px 0px 30px;
        }
      }
      // 
      .sec-box{
        width: 140px;
        margin-inline: 10px;
        // background-color: red;
        .item-bold{
          position: relative;
          a{
            font-size: 16px;
            font-weight: 500;
            color: var(--dark-color);
            display: block;
            margin-bottom: 25px;
            text-transform: capitalize;
            &::before{
              position: absolute;
              content: '';
              width: 50px;
              height: 2px;
              background-color: var(--dark-color);
              bottom: -5px;
            }
          }
        }
        .item{
          a{
            font-size: 14px;
            font-weight: 400;
            color: var(--dark-color);
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    
    }
    .footer-left-side{
      background-color: var(--primary-color);
      padding: 0px;
      // height: 250px;
      // 
      .box-social{
        // width: 200px;
        .special-person{
          display: flex;
          align-items: center;
          margin: 50px 5px 0;
          .img-box{
            // width: 75px;
            // height: 75px;
            padding: 20px 12px;
            background-color: var(--third-color);
            border-radius: 5px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
              width: 25px;
              height: 25px;
            }
          }
          .text{
            border: 1px solid var(--third-color);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding-block: 6px;
            border-left: 0;
            p{
              font-size: 12px;
              color: #fff;
              // padding-inline-start: 10px;
              text-align: center;
              .aamer{
                color: var(--green-color);
              }
            }
          }
        }
        .social-icons{
          margin: 0px 5px 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .socila-media{
            position: relative;
            font-size: 12px;
            font-weight: 700;
            color: var(--white-color);
            margin: 15px 0 10px;
            border-bottom: 1px solid var(--white-color);
            width: -moz-fit-content;
            width: fit-content;
            letter-spacing: 1px;
            
            
          }
          .socila-media-jubail,.socila-media-janboo{
            font-size: 12px;
            font-weight: 700;
            color: var(--white-color);
            margin:  5px 0 5px;
          }
        }
        .icons{
          display: flex;
          align-items: baseline;
          justify-content: space-around;
         .item{
           margin-inline: 3px;
          img{
            width: 23px;
            height: 23px;
          }
         }
        }
        .bottom-sec{
          display: flex;
          justify-content:  space-evenly;
          padding: 10px 0px 30px;

          img{
            &:last-child{
              // margin-inline-start: 3px;
            }
          }
        }
      }

    }

      
  .copy-write{
    // margin-top: 35px;
    padding: 10px 0px;
    margin-top: 25px;
    p{
      font-size: 16px;
      color: var(--dark-color);
      font-weight: 400;
      text-align: center;
      // padding: 20px 0px 0px;
    }
  }

  }
}

/*--------------------------------------------------------------
  # End Footer Section
--------------------------------------------------------------*/


