


/*--------------------------------------------------------------
# Start Footer Section
--------------------------------------------------------------*/
.footer{
  background-image: url(../img/Rectangle109.png);
  width: 101%;
  // padding-bottom: 30px;
  .bg-footer{
  // padding: 50px 0px;
  background-image: url(../img/footer-bg.png);
  background-position: bottom;
  background-size: cover;
  .footer-vector{
    .wrapper-content{
      // background-image: url(../img/footer-vector.png);
      // background-position: bottom;
      // background-size: cover;
      // background-repeat: no-repeat;
      display: flex;
      padding: 30px 30px 50px 0px;
      .first-box{
        width: 400px;
        // background-color: red;
          img{
            width: 205px;
            height: 77px;
        }
        p{
          font-size: 18px;
          font-weight: 400;
          color: var(--navbar-color);
        }
      }
      .sec-box{
        width: 140px;
        margin-inline: 10px;
        // background-color: red;
        .item-bold{
          position: relative;
          a{
            font-size: 16px;
            font-weight: 500;
            color: var(--dark-color);
            display: block;
            margin-bottom: 25px;
            &::before{
              position: absolute;
              content: '';
              width: 50px;
              height: 2px;
              background-color: var(--dark-color);
              bottom: -5px;
            }
          }
        }
        .item{
          a{
            font-size: 15px;
            font-weight: 400;
            color: var(--dark-color);
            display: block;
            margin-bottom: 25px;
          }
        }
      }
    }
    .box-social{
      background-color: var(--primary-color);
      width: 200px;
      .special-person{
        display: flex;
        align-items: center;
        margin: 30px 5px 0;
        .img-box{
          width: 75px;
          height: 75px;
          background-color: var(--third-color);
          border-radius: 5px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 35px;
            height: 35px;
          }
        }
        .text{
          border: 1px solid var(--third-color);
          p{
            font-size: 13px;
            color: #fff;
            // padding-inline-start: 10px;
            text-align: center;
          }
        }
      }
      .social-icons{
        a{
          font-size: 15px;
          font-weight: 700;
          color: var(--white-color);
        }
      }
      .icons{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        img{
          width: 23px;
          height: 23px;
        }
      }
      .bottom-sec{
        display: flex;
        padding: 30px 5px;

      }
    }

.copy-write{
  p{
    font-size: 16px;
    color: var(--dark-color);
    font-weight: 400;
    text-align: center;
    padding: 20px 0px;
  }
}

  }
  }
}
  /*--------------------------------------------------------------
  # End Footer Section
  --------------------------------------------------------------*/
  .input-group{
    input{
      &.form-control{
        height: 45px;
        border-radius: 30px;
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;            
        border-top-right-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
        border: transparent;
      }
    }
    button{
      &.subscribe-now{
        background-color: var(--primary-color);
          border: none;
            color: #fff;
            padding: 0;
            height: 45px;
            text-align: center;
            border-top-left-radius: 30px !important;
            border-bottom-left-radius: 30px !important;
            padding-inline: 25px;
            border-radius: 30px;
            // margin-inline-start: -50px;
            position: absolute;
    z-index: 9999;
    right: unset;
    left: 0;
        }
    }

  }



